.header{
    height: 60px;
    color: #880e4f;
    box-shadow: 0 0 5px #880e4f; 
    width: 100%;
    background-color: #fff;
    z-index: 999;
    top: 0;
    left: 0;
    position: relative;
}
.header-container{
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%
}